.MonthView {
  padding-top: 5px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 90%;
  margin: 0px auto;
}

.MonthView_nameOfDays {
  width: 100%;
  font-size: 0.7em;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.MonthView_nameOfDay {
  width: 14.28%;
  text-align: center;
}