.DateInput {
  margin: 3px;
  padding: 5px;
  font-size: 1.5em;
  width: 55%;
  border: 1px white solid;
  color: gray;
}

.DateInput_expanded {
  color: darkslategrey;
  background-color: lightblue;
}
